<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'first name: ' + ${user.firstName}" />
<p th:text="'last name: ' + ${user.lastName}" />
<p th:text="'patronymic: ' + ${user.patronymic}" />
<p th:text="'age: ' + ${user.age}" />
<p th:text="'salary: ' + ${user.salary}" />
<p th:text="'email: ' + ${user.email}" />
<p th:text="'place of work: ' + ${user.placeOfWork}" />
<p th:text="'time: ' + ${info.date}" />
<p th:text="'client info: ' + ${info.nameClient}" />
<a href="/main"> main</a>
</body>
</html>