<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <p><a href="/add-user">add user</a></p>
    <p><a href="/search-user">search user</a></p>
    <p><a href="/add-users-from-file">add users from file</a></p>
    <p><a href="/list-users">list users</a></p>
    <p><a href="/send-email">send email</a></p>
</div>


</body>
</html>