<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="POST" action="#" th:action="@{/send-email}">
    <p>first name: <input type="text" th:field="*{user.firstName}" /></p>
    <p>last name: <input type="text" th:field="*{user.lastName}" /></p>
    <p>subject: <input type="text" th:field="*{letter.subject}" /></p>
    <p>message: <input type="text" th:field="*{letter.message}" /></p>
    <p>
        <input type="submit" value="Send" />
        <input type="reset" value="Reset" />
    </p>
</form>


<a href="/main"> main</a>
</body>
</html>